<div class="container">
  <div class="row">
    <ul>
      <% current_user.bookings.each do |booking| %>
        <li><%= link_to "#{booking.yacht.name}", yacht_bookings_path(@bookings) %></li>
      <% end %>
    </ul>
  </div>
</div>
