.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0;
  position: relative
}

.card > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  margin-top: 232px;
  // display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  background-color: #16679F;
  position: absolute;
  width: 100%;
}
