.navbar-lewagon {
  justify-content: space-between;
  background: rgb(8, 105, 157);
  align-items: center;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
}
